@import "./style/style.scss";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

body {
  margin: 0;
  background-color: var(--light-grayish-cyan);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
